{% extends 'base.htm' %}

{% block title %} Home {% endblock title %}

{% block body %}
<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to Rcoder!</h1>
      <p class="lead">Welcome this are the best tech blogs available.</p>
      <hr class="my-4">
      <p>All the technologies u will definitely enjoy.</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>

   
    </div>
    
{% endblock body %}
